.bloc{
  margin: 1rem;
  color: #138496;
}

.user{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .list-users{
    max-width: 300px;
    min-width: 250px;
    margin: 15px;
    background-color: #138496;
    margin: 1rem;
    color: white;
    border-radius: 10px;
    .content{
      span{
        font-size: medium;
      }
    }

    .buttons{
      margin: 1rem;
      display: flex;
      justify-content: space-around;
      .button{
        border-radius: 5px;
        padding: 5px;
        margin: 5px;
        background-color: cadetblue;
        color: white;
        border: none;
        &:hover{
          background-color: #979690;
          color: black;
        }
      }
    }
  }
}
