.add-product-content{
    padding-top: 30px;
    background-color: white;
    margin: 20px;
  }
  
  .new-product-title{
    color: royalblue;
    text-align: center;
  }
  
  .product-content, .product-title{
    color: royalblue;
  }

  .form-group{
    margin: 15px;
  }

  .container{
    padding: 15px;
  }

  .form-btn{
    text-align-last: center;
  }


 