<div class="d-flex align-items-stretch">
    <app-filter-sidebar></app-filter-sidebar>
    <!-- Ici on communique du parent vers l'enfant à l'aide du property binding   
        la propriété de l'enfant possède un décorateur @Input pour rendre sa valeur 
        paramétrable par son parent.
    -->
    <div class="custom-main container p-3">
        <input class="form-control" type="text" placeholder="Recherche ton DVD" aria-label="Recherche ton DVD">

        <div class="py-3">
            Trier par :
            <button class="btn btn-outline-success btn-sm me-2">Prix</button>
            <button class="btn btn-outline-success btn-sm me-2">Ordre Alpha</button>
            <button class="btn btn-outline-success btn-sm me-2">Avis</button>
        </div>

        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-xl-3 g-4">
            <div *ngFor="let product of products" class="col">
                <div class="plant card" style="width: 14rem;">

                    <!-- <app-icon class="like" [name]="'heart'" [color]="'#e35d6a'"></app-icon> -->

                    <img src="" class="card-img-top" alt="image de {{product?.name}}">
                    <div class="card-body">
                        <h6 class="card-title"> {{product?.name}} </h6>
                        <h1 class="card-title"> {{product?.description}} </h1>
                        <div class="card-content">
                        </div>
                        <div class="d-flex flex-row align-items-end justify-content-between">
                            <div class="card-content">
                                <span class="align-bottom"> {{product?.price}} € </span>
                            </div>
                            <a href="#" class="btn btn-success">Details</a>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>

</div>