<!-- <div class="plant card" style="width: 14rem;">
    
     <app-icon class="like" [name]="'heart'" [color]="'#e35d6a'"></app-icon> 

    <img src="{{product.picture}}" class="card-img-top" alt="image de {{product._name}}">
    <div class="card-body">
        <h6 class="card-title"> {{product.name}} </h6> 
        <h1 class="card-title"> {{product.description}} </h1> 
        <div class="card-content">
            <app-avis-bar></app-avis-bar>
        </div>
        <div class="d-flex flex-row align-items-end justify-content-between">
            <div class="card-content"> 
                <span class="align-bottom"> {{product.price}} € </span>
            </div>
            <a href="#" class="btn btn-success">Details</a>
        </div>
    </div>
</div> -->
