<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light shadow">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"> {{ title }} </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" routerLink="home" routerLinkActive="active-custom">Accueil</a>
                <a class="nav-link" routerLink="details" routerLinkActive="active-custom">Details</a>
                <a class="nav-link" routerLink="panier" routerLinkActive="active-custom">Panier</a>
                <a class="nav-link" routerLink="profil" routerLinkActive="active-custom">Profil</a>
                <a class="nav-link" *ngIf="isAdmin()" routerLink="user" routerLinkActive="active-custom">UserList</a>
                <a class="nav-link" (click)="logout()" routerLink="login" routerLinkActive="active-custom">Déconnexion</a>
                <a class="nav-link disabled">Plus d'option bientôt {{ lengthListProduct }}</a>
            </div>
        </div>
    </div>
</nav>
